<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Perfect Diamond</title>

    <!-- Bootstrap and Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <!-- need to add on 25 the home page -->
            <img src="../static/images/logo1.png" alt="logo" style="width:10%;height:10%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Visualizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ml">Price Predictor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="row text-center" style="margin-top:1%">
        <div class = "col-md-12">
            <h6 class="display-4"><b>About Us</b></h6>
        </div>
    </div>

    <!--ABOUT-->
    <div class= "container-fluid">
        <div class="row" style="margin-top:3%">
            <div class = "col-md-9">
                <h5><b>Cade Culver</b></h5>
                <br>
            </div>
        </div>
        <div class="row" >
            <div class = "col-md-3">
                <img src="../static/images/cade.jpg" alt="Cade" style="width:65%;padding:2%;" class="center">
            </div>
            <div class = "col-md-6">
                <blockquote class="blockquote">
                    <p class="mb-0">Cade Culver graduated from Texas Tech University with a Bachelor of Arts in Economics with a minor in Mathematics. 
                        He is currently seeking a position in Data Analysis. 
                        <br>
                        Hobbies: In his free time, he enjoys playing guitar and working on his family's ranch.
                    </p>
                </blockquote>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-top:5%">
            <div class = "col-md-6">
                <h5><b>Justin Merryman</b></h5>
                <br>
            </div>
        </div>
        <div class="row" >
            <div class = "col-md-3">
                <img src="../static/images/justin.jpg" alt="Justin" style="width:65%;padding:2%;" class="center">
            </div>
            <div class = "col-md-6">
                <blockquote class="blockquote">
                <p class="mb-0">Justin Merryman graduated from The University of Texas with a Bachelor of Science in Chemistry
                    and an Elements of Computer Programming Certificate. He has worked as Chemist in the oil and gas industry 
                    for over 10 years. Currently, he is a deepwater engineer for Schlumberger working with production chemicals. 
                    As he has expanded his education he is using his computer programming and data analysis skills to further 
                    solve the chemistry problems he faces on a daily basis.
                    <br>
                    Hobbies: traveling, golf, fishing and hunting.
                </p>
                </blockquote>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-top:5%">
            <div class = "col-md-9">
                <h5><b>Karla Murphy</b></h5>
                <br>
            </div>
        </div>
        <div class="row" >
            <div class = "col-md-3">
                <img src="../static/images/karla.jpg" alt="Karla" style="width:65%;padding:2%;" class="center">
            </div>
            <div class = "col-md-6">
                <blockquote class="blockquote">
                    <p class="mb-0">Karla Murphy Graduated from Universidad Latina de Costa Rica with a Bachelors of
                        Business Administration in Marketing/Sales Management. 
                        She was recently promoted as Sales Excellence Specialist at Emerson Automation Solutions 
                        leading cross-functional projects, driving improvement, data analysis and sales projections.
                        <br>
                        Hobbies: Beach, outdoors, read, music (tropical music!), family and animals.
                    </p>
                </blockquote>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-top:5%">
            <div class = "col-md-9">
                <h5><b>Patricia Berry</b></h5>
                <br>
            </div>
        </div>
        <div class="row" >
            <div class = "col-md-3">
                <img src="../static/images/pat.jpg" alt="Patricia" style="width:65%;padding:2%;" class="center">
            </div>
            <div class = "col-md-6">
                <blockquote class="blockquote">
                    <p class="mb-0">Patricia Berry graduated from the University of Phoenix-Dallas with a Bachelor 
                        Arts in Business Administration. She has been a category manager in the food industry for the  
                        past 28 years working for a variety of top tiered companies throughout her career.   
                        <br>
                        Hobbies: She enjoys spending time traveling to different Disney properties are the world.
                    </p>
                </blockquote>
            </div>
        </div>
        <hr>
    </div>
    <div id="footer" style="margin: top 1px;">
        <p>Thank you for choosing us to guide you through this special ocassion!</p>
    </div>
    

    </div>
</body>

</html>