<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Perfect Diamond</title>

    <!-- Bootstrap and Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <!-- need to add on 25 the home page -->
            <img src="../static/images/logo1.png" alt="logo" style="width:10%;height:10%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Visualizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ml">Price Predictor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <h4 class="display-4"><b>Perfect Diamond</b></h4>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align:center;">
                    <img src="../static/images/diamond.png" alt="logo" style="width:30%;height:30%;">
                </p>
            </div>
        </div>
        <div class="row" style="margin: top 1px;">
            <div class="col-sm-2"></div>
            <div class="col-md-8">
                <blockquote class="blockquote" style="text-align:justify;">
                    <p class="mb-0">We investigated pricing and diamonds anatomy to determine whether or not we could
                        predict pricing and help the user to buy the best choice for their budget and preference.
                        In order to choose your perfect diamond you need to follow the <b>"4C's"</b> in the following
                        order:
                        <b>Cut, Color, Clarity, and Carat Weight.</b>There are other preferences as the <b>Shape</b>
                        and the
                        <b>Certification</b> that you need to considered.
                        <br>
                        <br>
                        We've created <a href="/dashboard"><b> Visualizations</b></a> of our dataset that allows deeper
                        exploration of how to choose your "Perfect Diamond" based on <b>pricing</b> according to the
                        <b>4 C's</b> and diamonds dimensions such as: <b>Table, Length (mm), Width (mm), Depth (mm). </b>
                        We used for our prediction model and visualizations with interactive features taken our <a
                            href="/table"><b> Dataset</b></a>.
                        <br>
                        <br>
                        Our <a href="/ml"><b> Price Predictor </b></a> page allows you to estimate the price for the
                        <b>"Perfect Diamond"</b> by selecting all features availabe to make the perfect choice. 
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h4 class="display-12"><iframe width="560" height="315" src="https://www.youtube.com/embed/knLd8bfeWtI?start=140" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></h4>
                            </div>
                        <br>
                    </p>
                </blockquote>
                <br>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div id="footer" style="margin: top 1px;">
            <p>Thank you for choosing us to guide you through this special ocassion!</p>
        </div>

    </div>
</body>

</html>