<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Perfect Diamond</title>

    <!-- Bootstrap and Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <!-- need to add on 25 the home page -->
            <img src="../static/images/logo1.png" alt="logo" style="width:10%;height:10%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Visualizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ml">Predictor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row text-center" style="margin-top:1%">
        <div class = "col-md-12">
            <h6 class="display-4"><b>Resources</b></h6>
        </div>
    </div>

    <div class= "container-fluid">
        <div class="row">
            <div class = "col-sm-2"></div>
            <div class = "col-md-6">
                <h6><b>Data</b></h6>
                <ul><a href="https://www.kaggle.com/fuzzywizard/diamonds-in-depth-analysis">https://www.kaggle.com/fuzzywizard/diamonds-in-depth-analysis</a></ul>
                <h6><b>Images</b></h6>
                    <ul>4C_graphics: <a href="https://www.jared.com/4cs-of-a-diamond?cid=SEM-goo-DYNAMIC+SEARCH+ADS-E-Commerce+-+NB+-+Jewelry+-+DSA&ds_rl=1247408&ds_rl=1252059&gclid=Cj0KCQjw-LOEBhDCARIsABrC0TlVm4NCQQAid7tGSvCH_jIwziT5Dmm2Z8wpXlm1tDVMfGt7jP4jL-oaAlRtEALw_wcB&gclsrc=aw.ds">https://www.jared.com/4cs-of-a-diamond?cid=SEM-goo-DYNAMIC+SEARCH+ADS-E-Commerce+-+NB+-+Jewelry+-+DSA&ds_rl=1247408&ds_rl=1252059&gclid=Cj0KCQjw-LOEBhDCARIsABrC0TlVm4NCQQAid7tGSvCH_jIwziT5Dmm2Z8wpXlm1tDVMfGt7jP4jL-oaAlRtEALw_wcB&gclsrc=aw.ds</a></ul>

                    <ul>Anatomy_of_a_diamond: <a href=https://4cs.gia.edu/en-us/blog/diamond-anatomy-explained/>http://https://4cs.gia.edu/en-us/blog/diamond-anatomy-explained/</a></ul>

                <h6><b>Inspiration</b></h6> 
                    <ul><a href="https://datascienceplus.com/wp-content/uploads/2016/02/Screen-Shot-2016-02-15-at-6.39.53-PM.jpg">https://datascienceplus.com/wp-content/uploads/2016/02/Screen-Shot-2016-02-15-at-6.39.53-PM.jpg</ul>
                    <ul><a href= "https://cme195.github.io/assets/lectures/Lecture4_Visualizing_Data_files/figure-reveal/unnamed-chunk-41-1.png/">cme195.github.io/assets/lectures/Lecture4_Visualizing_Data_files/figure-reveal/unnamed-chunk-41-1.png/</a></ul>
                    <ul><a href= "https://public.tableau.com/profile/zitong.yang#/vizhome/DiamondAttributes-PriceClarityand Color/Story1">https://public.tableau.com/profile/zitong.yang#/vizhome/DiamondAttributes-PriceClarityand Color/Story1</a></ul>
                    <ul><a href= "https://analyticsindiamag.com/tutorial-get-started-with-exploration-data-analysis-and-data-preprocessing">https://analyticsindiamag.com/tutorial-get-started-with-exploration-data-analysis-and-data-preprocessing</a></ul>
                    <ul><a href="https://www.excelr.com/exploratory-data-analysis-in-data-science">https://www.excelr.com/exploratory-data-analysis-in-data-science</a></ul>
                
                <h6><b>Kaggle</b></h6> 
                    <ul><a href= "https://www.kaggle.com/shivam2503/diamonds">https://www.kaggle.com/shivam2503/diamonds</a></ul>
                    <ul><a href= "https://www.kaggle.com/fuzzywizard/diamonds-in-depth-analysis">https://www.kaggle.com/fuzzywizard/diamonds-in-depth-analysis</ul>
                    <ul><a href= "https://www.kaggle.com/himahima/prediction-diamond-prices">https://www.kaggle.com/himahima/prediction-diamond-prices</a></ul>
                    </ul>

                <h6><b>Diamond Research</b></h6>
                    <ul><a href= "https://www.lumeradiamonds.com/diamond-education/index">https://www.lumeradiamonds.com/diamond-education/index</a></ul>
                    <ul><a href= "https://https://www.bluenile.com/education/diamonds?gclid=da6dfee664eb16716dca9e624e867e33&msclkid=da6dfee664eb16716dca9e624e867e33&click_id=173535549&utm_source=bing&utm_medium=text&utm_campaign=Diamonds+%3A+Education+Prospect_Exact_Desktop&utm_content=Diamonds%3AGrading%3AChartutm_term%3Ddiamond+grading+chart"></a></ul>
                    <ul><a href= "https://www.ihatestevensinger.com/engagement-rings/101-diamonds-women/?lang=en_US">https://www.ihatestevensinger.com/engagement-rings/101-diamonds-women/?lang=en_US</a></ul>
                    </ul>
            </div>
            <hr>
            <div class = "col-sm-2"></div>
            <div id="footer" style="margin: top 1px;">
                <p>Thank you for choosing us to guide you through this special ocassion!</p>
            </div>
        </div>
    </div>